.principal{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.campo{
    margin-top: 20px;
}

button{
    margin-top: 20px;
}

.lista{
    margin-top: 40px;
}

#label_resultado{
    margin-top: 20px;
}